# LISTS

In [15]:
my_list=[1,2,3,"python",4,5]
print("List sample",my_list)
print("Second element of the list :",my_list[1])
my_list[1]=20
my_list.append(True)
print("Sample :",my_list)
my_list.remove(my_list[4])
print("Sample :",my_list)
my_list.insert(3,'Try')
print("Sample :",my_list)

def sub(a,b):
    return a-b

sub(10,78)

List sample [1, 2, 3, 'python', 4, 5]
Second element of the list : 2
Sample : [1, 20, 3, 'python', 4, 5, True]
Sample : [1, 20, 3, 'python', 5, True]
Sample : [1, 20, 3, 'Try', 'python', 5, True]

-68

# TUPLES

In [19]:
my_tuple=("apple","banana","orange")
my_tuple[0]

'apple'

# Dictionary

In [34]:
my_dict={"Name":"ABC","Location":"Unknown","Age":20}
my_dict["Country"]="USA"
my_dict['Name']
my_dict["tuple"]=my_tuple
my_dict["tuple"][1]

'banana'

# SETS

In [45]:
my_set={1,2,3,4,5}
my_set.add(10)

In [47]:
print(len(my_list),len(my_dict),len(my_set))

7 5 6